.App h2, .App h3 {
  text-align: center;
}

.App-body {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  position: absolute;
  background-color: #222;
  height: 60px;
  width: 100%;
  color: white;  
  top: 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.plan {
  margin-left: 20px;
}

.rules {
  margin-left: 10px;
}

.rules-header {
  font-weight: bolder;
  padding-bottom: 10px;
}

.rule-defs {
  margin-top: 10px;
}